*/.vagrant/
*/.vagrant

*/data/graphite/log/
*/data/graphite/log
*/data/graphite/storage/
*/data/graphite/storage

*/data/icinga/cache/
*/data/icinga/cache
*/data/icinga/certs/
*/data/icinga/certs
*/data/icinga/lib/
*/data/icinga/lib
*/data/icinga/log/
*/data/icinga/log
*/data/icinga/spool/
*/data/icinga/spool

*/data/mysql/
*/data/mysql
